<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminMember/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="/AdminManager/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMember/Members/" aria-expanded="false">
                    <i class="icon-user-follow  menu-icon"></i><span class="nav-text">Şifre Kasam</span>
                </a>
            </li>
            <li>
                <a href="/Login/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>