@model List<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminUserLayout/_AdminUserLayout.cshtml";
    int count = 0;
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
		<th>Rol</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.User.UserName</td>
            <td>@item.User.Email</td>
            <td>@string.Join(", ", item.Roles)</td>
            <td>

                <a href="/AdminManager/UpdateRole/@item.User.Id" class="btn mb-1 btn-rounded btn-outline-success">Rol Güncelle</a>
            </td>
        </tr>

    }
</table>


