@model CreateMemberDto
@{
    ViewData["Title"] = "CreateMemberAdmin";
    Layout = "~/Views/AdminUserLayout/_AdminUserLayout.cshtml";
}


<form method="post" >
    @Html.AntiForgeryToken()
    <label>Site İsmi</label>
    <input type="text" asp-for="WebName" class="form-control" />
    <span asp-validation-for="WebName" class="text-danger"></span>
    <br />
    <label>Kullanıcı Adı</label>
    <input type="text" asp-for="Username" class="form-control" />
    <span asp-validation-for="Username" class="text-danger"></span>
    <br />
    <label>Şifre</label>
    <input type="text" asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Bilgileri Kaydet</button>
	<a class="btn btn-success" href="/AdminMember/Members/">Geri Dön</a>
</form>

